<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta  charset="utf-8">
<head>

</head>
<style>
table.table.table-striped {
    background-color: #263238;
   
}
tr {
    color: white;
    left: unset;
}

th, td {
    padding: 20px;
    margin:0 auto;
}


</style>
<body>

<center>

<h2>Kullanıcı Not  Bilgileri</h2>

</center>
<script type="text/javascript">

</script>
<div>
    <center>
    <table class="table table-striped" border=1 style="width:30%">
        <tr>
            <th>Not</th>
            <th>Başlık</th>
        </tr>
        <tr th:each="count : ${objects}">
            <td data-th-text="${count.baslik}"></td>
            <td data-th-text="${count.not1}"></td>
        </tr>
    </table>
    </center>
</div>


<h1 data-th-text="${list}" />
</body>
</html>
>